:root{
    --borderColor1: #3acfd5;
    --borderColor2: #3a4ed5;
    --headerColor: #fff;
    --aColor: #fff;
    --aHoverColor: #3a4ed5;
}
section {
    padding: 100px 20px;
    min-height: 100vh;
}
form{
    justify-content: center;
}

form input{
    height: 50px;
    width: 50%;
}

form textarea{
    width: 50%;
}

form label{
    color: white;
}

form button{
    background-color: transparent;
    border: 1px solid;
    padding: 10px;
    border-radius: 12px;
    border-image: linear-gradient(to right, var(--borderColor1) 0%, var(--borderColor2) 100%) 1 !important;
    color: white;
    transition: 200ms;
    width: 200px;
}

form button:hover{
    background-color: transparent;
    border: 1px solid;
    padding: 10px;
    border-radius: 12px;
    border-image: linear-gradient(to right, var(--borderColor1) 0%, var(--borderColor2) 100%) 1 !important;
    color: white;
    letter-spacing: 2px;
    transition: 200ms;
}
.formDiv{
    flex-direction: column;
}

.carousel-caption{
    background-color: #00000038;
    padding: 10px;
}

.container h2{
    color: var(--headerColor);
}

#navbar{
    background-image: linear-gradient(90deg, #0a4075, #780a67);
}
.navbar a{
    color: var(--aColor) !important;
}
#home {
    background-image: linear-gradient(90deg, #0a4075, #780a67);
    min-height: 50vh;
}
#about {
    background-image: linear-gradient(90deg, #0a4075, #780a67);
    min-height: 50vh !important;
}
#about h2, p{
    color: var(--headerColor);
}
#products{
    background-image: linear-gradient(90deg, #0a4075, #780a67);
    min-height: 70vh !important;  
}
#products h2, p{
    color: var(--headerColor);
}
#services {
    background-image: linear-gradient(90deg, #0a4075, #780a67);
    min-height: 50vh !important;
}
#services h2, p{
    color: var(--headerColor);
}
#contact {
    background-image: linear-gradient(90deg, #0a4075, #780a67);
}
#contact h2, p{
    color: var(--headerColor);
}

#language-select{
    padding: 10px;
    background-color: #6e196e;
    color: var(--aColor);
    display: inline-block;
    margin: 0 0.5rem;
    animation: backInRight;
    animation-duration: 2s;
    border: 1px solid;
    border-image: linear-gradient(to right, var(--borderColor1) 0%, var(--borderColor2) 100%) 1 !important;
}

@media only screen and (max-width: 767px) {
    .heroSlider{
        margin-top: 48px;
        display: flex;
        align-items: center;
    }
    form{
        justify-content: center;
    }
    
    form input{
        height: 50px;
        width: 100%;
    }
    
    form textarea{
        width: 100%;
    }
  }
.heroSlider{
    display: flex;
    align-items: center;
}
#homeCarousel1{
    z-index: 99;
}

.header1{
    background-color: transparent;
    border: 1px solid;
    padding: 10px;
    border-radius: 12px;
    border-image: linear-gradient(to right, var(--borderColor1) 0%, var(--borderColor2) 100%) 1 !important;
}

.productSlider img{
    max-height: 400px !important;
}

.moreBtn{
    background-color: transparent;
    border: 1px solid white;
    padding: 5px;
    font-size: small;
    transition: 200ms;
   
}
.moreBtn:hover{
    letter-spacing: 2px;
    border: 1px solid;
    border-image: linear-gradient(to right, var(--borderColor1) 0%, var(--borderColor2) 100%) 1 !important;
    transition: 200ms;
}
.moreBtn a{
    color: var(--aColor);
    text-decoration: none !important;
}
.carousel-item {
    transition: transform 1s ease-in-out;
}

.nav-item{
    color: var(--aColor);
    transition: 200ms;
}
.nav-item a:hover{
    scale: 1.1;
    transition: 200ms;
    /* background: -webkit-linear-gradient(0deg, #3acfd5, #3a4ed5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.slider-image {
    height: 700px; /* İstediğiniz yükseklik */
    object-fit: cover; /* En-boy oranını koruyarak taşıyor gibi gösterir */
    object-position: center; /* Görselin orta kısmını odaklar */
}

.card{
    backdrop-filter: blur(10px);
    border: 1px solid;
    border-image: linear-gradient(to right, var(--borderColor1) 0%, var(--borderColor2) 100%) 1 !important;
}

.card-text{
    word-spacing: 5px;
}



.hover {
    border: 8px solid;
    border-image: linear-gradient(to right, var(--borderColor1) 0%, var(--borderColor2) 100%) 1 !important;
    -webkit-mask: 
      conic-gradient(from 180deg at top 2px right 2px, #0000 90deg,#000 0)
       var(--_i,200%) 0  /200% var(--_i,8px) border-box no-repeat,
      conic-gradient(at bottom 2px left  2px,  #0000 90deg,#000 0)
       0   var(--_i,200%)/var(--_i,8px) 200% border-box no-repeat,
      linear-gradient(#000 0 0) padding-box no-repeat;
    transition: .3s, -webkit-mask-position .3s .3s;

  }
  .hover:hover {
    --_i: 100%;
    transition: .3s, -webkit-mask-size .3s .3s;
  }

  .whatsapp-button {
    position: fixed;
    bottom: 20px; /* Ekranın altından uzaklık */
    right: 20px; /* Ekranın sağından uzaklık */
    background-color: #25D366;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 50px; /* Yuvarlak köşeler */
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 1000; /* Önde görünmesini sağlar */
    transition: transform 0.3s ease;
}

/* Hover efekti */
.whatsapp-button:hover {
    transform: scale(1.1); /* Butonu büyütür */
}

/* WhatsApp ikonunun tasarımı */
.whatsapp-button img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}