:root{
    --borderColor1: #3acfd5;
    --borderColor2: #3a4ed5;
    --headerColor: #fff;
    --aColor: #fff;
    --aHoverColor: #3a4ed5;
    --dronesPcolor: #b5b5b5;
}

hr{
    color: white;
}

blockquote{
    border-left: 1px solid white;
}
blockquote 
h5{
    color: #d8d8d8;
}
blockquote 
p{
    color: #b5b5b5;
}
section {
    padding: 100px 20px;
    min-height: 100vh;
}
form{
    justify-content: center;
}

form input{
    height: 50px;
    width: 100%;
}

form textarea{
    width: 50%;
}

form label{
    color: white;
}

form button{
    background-color: transparent;
    border: 1px solid;
    padding: 10px;
    border-radius: 12px;
    border-image: linear-gradient(to right, var(--borderColor1) 0%, var(--borderColor2) 100%) 1 !important;
    color: white;
    transition: 200ms;
    width: 200px;
}

form button:hover{
    background-color: transparent;
    border: 1px solid;
    padding: 10px;
    border-radius: 12px;
    border-image: linear-gradient(to right, var(--borderColor1) 0%, var(--borderColor2) 100%) 1 !important;
    color: white;
    letter-spacing: 2px;
    transition: 200ms;
}

input:focus,
select:focus,
textarea:focus,
button:focus{
    outline: none !important;
}

#name,
#surname,
#subject,
#message{
    background-color: transparent;
    border: 1px solid;
    border-radius: 12px;
    border-image: linear-gradient(to right, var(--borderColor1) 0%, var(--borderColor2) 100%) 1 !important;
    color: white;
}

.logo{
    max-height: 70px !important;
}
.formDiv{
    flex-direction: column;
}

.carousel-caption{
    background-color: #00000038;
    padding: 10px;
}

.container h2{
    color: var(--headerColor);
}

#navbar{
    background-image: linear-gradient(90deg, #0a4075, #780a67);
}
.navbar a{
    color: var(--aColor) !important;
}
#home {
    background-image: linear-gradient(90deg, #0a4075, #780a67);
    min-height: 50vh;
}
#about {
    background-image: linear-gradient(90deg, #0a4075, #780a67);
    min-height: 50vh !important;
}
#about h2, p{
    color: var(--headerColor);
}
#products{
    background-image: linear-gradient(90deg, #0a4075, #780a67);
    min-height: 70vh !important;  
}
#products h2, p{
    color: var(--headerColor);
}
#services {
    background-image: linear-gradient(90deg, #0a4075, #780a67);
    min-height: 50vh !important;
}
#services h2{
    color: var(--headerColor);
}
#services p{
    color: var(--dronesPcolor);
}
#contact {
    background-image: linear-gradient(90deg, #0a4075, #780a67);
}
#contact h2, p{
    color: var(--headerColor);
}

#language-select{
    padding: 10px;
    background-color: transparent;
    color: var(--aColor);
    display: inline-block;
    margin: 0 0.5rem;
    animation: backInRight;
    animation-duration: 2s;
    border: 1px solid;
    border-image: linear-gradient(to right, var(--borderColor1) 0%, var(--borderColor2) 100%) 1 !important;
}

.navbar-toggler{
    border: 1px solid white;
}
.navbar-toggler-icon {
    margin-top: 3px;
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' fill='white'%3E%3Crect width='30' height='2'/%3E%3Crect y='12' width='30' height='2'/%3E%3Crect y='24' width='30' height='2'/%3E%3C/svg%3E");
}

@media only screen and (max-width: 767px) {
    .heroSlider{
        margin-top: 48px;
        display: flex;
        align-items: center;
    }
    form{
        justify-content: center;
    }
    
    form input{
        height: 50px;
        width: 100%;
    }
    
    form textarea{
        width: 100%;
    }
    .moreBtn{
        background-color: transparent;
        border: 1px solid white;
        padding: 5px;
        font-size: small;
        transition: 200ms;
        display: inline-block !important;
       
    }
    .moreBtn a{
        color: var(--aColor);
        text-decoration: none !important;
    }
    .bottomDiv{
        margin-top: 75px;
    }
    .card2 img{
        max-width: 35% !important;
        max-height: 35% !important;
    }
    .card2{
        display: flex;
        text-align: center;
        justify-content: center;
    }
  }
.heroSlider{
    display: flex;
    align-items: center;
}
#homeCarousel1{
    z-index: 99;
}

.header1{
    background-color: transparent;
    /* border: 1px solid; */
    padding: 10px;
    /* border-radius: 12px;
    border-image: linear-gradient(to right, var(--borderColor1) 0%, var(--borderColor2) 100%) 1 !important; */
}

.productSlider img{
    max-height: 400px !important;
}

.moreBtn{
    background-color: transparent;
    border: 1px solid white;
    padding: 5px;
    font-size: small;
    transition: 200ms;
}
.moreBtn:hover{
    letter-spacing: 2px;
    border: 1px solid;
    border-image: linear-gradient(to right, var(--borderColor1) 0%, var(--borderColor2) 100%) 1 !important;
    transition: 200ms;
}
.moreBtn a{
    color: var(--aColor);
    text-decoration: none !important;
}
.carousel-item {
    transition: transform 1s ease-in-out;
}

.nav-item{
    color: var(--aColor);
    transition: 200ms;
}
.nav-item a:hover{
    scale: 1.1;
    transition: 200ms;
}

.slider-image {
    height: 700px;
    object-fit: cover;
    object-position: center;
}

.card{
    /* border: 1px solid;
    border-image: linear-gradient(to right, var(--borderColor1) 0%, var(--borderColor2) 100%) 1 !important; */
    border: none !important;
}

.card-text{
    word-spacing: 5px;
}



.hover {
    border: 8px solid;
    border-image: linear-gradient(to right, var(--borderColor1) 0%, var(--borderColor2) 100%) 1 !important;
    -webkit-mask: 
      conic-gradient(from 180deg at top 2px right 2px, #0000 90deg,#000 0)
       var(--_i,200%) 0  /200% var(--_i,8px) border-box no-repeat,
      conic-gradient(at bottom 2px left  2px,  #0000 90deg,#000 0)
       0   var(--_i,200%)/var(--_i,8px) 200% border-box no-repeat,
      linear-gradient(#000 0 0) padding-box no-repeat;
    transition: .3s, -webkit-mask-position .3s .3s;

  }
  .hover:hover {
    --_i: 100%;
    transition: .3s, -webkit-mask-size .3s .3s;
  }

  .whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.3s ease;
}
.whatsapp-button:hover {
    transform: scale(1.1);
}

.whatsapp-button img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.bottomDiv h6{
    color:white;
    text-decoration: none;
    font-size: larger;
}
.bottomDiv a{
    color: #aaa8a8;
    text-decoration: none !important;
    font-size: 14px;
}
.bottomDiv h4{
    color: var(--aColor);
}

.card2 img{
    max-width: 50%;
    max-height: 50%;
}

.card-text{
    color: var(--dronesPcolor);
}